*{ padding:$gap_0; margin:$gap_0; outline:none; }
html, body{  width:100%; height:100%; }
body{ font-size:$bdy_font; color:$base_color; font-family:$font_OS; }
h1,h2,h3,h4,h5,h6{ margin-top:0px; }
p{ line-height:20px; }
ul, li{ list-style:none; }
a, a:hover, a:focus{ text-decoration:none; outline:none; }

/* ---------- button css ------------ */
.btn{ background:$theme_color_2; color:$white; transition:all ease 0.9s; -webkit-transition:all ease 0.9s; }
.btn i{ font-weight:700; position:relative; right:-5px; transition:all ease 0.9s; -webkit-transition:all ease 0.9s; }
.btn.btnicon{ padding-right:20px; }
.btn:hover, .btn:focus{ color:$white; }
.btn:hover i{ right:-15px; }
.linktext{ color:$theme_color_2; position:relative; font-weight:600; }
.linktext:hover{ color:$theme_color_2; }


/*------------------ form css --------------------------*/
input::-webkit-input-placeholder { color:#3d3e3c; opacity:1; }
input:-moz-placeholder { color:#3d3e3c; opacity:1; }
input::-moz-placeholder { color:#3d3e3c; opacity:1; }
input:-ms-input-placeholder { color:#3d3e3c; opacity:1; }
input[type=text], input[type=password], input[type=email], input[type=phone], input[type=tel], input[type=number], select, textarea{ appearance:none; -webkit-appearance:none; width:100%; height:33px; font-size:14px; color:#3d3e3c; border:$theme_color_2 1px solid; padding:20px; resize:none; border-radius:4px; -webkit-border-radius:4px; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=tel]:focus, input[type=number]:focus, select:focus, textarea:focus{ border-color:$theme_color_2; box-shadow:0px 0px 10px $theme_color_2; -moz-box-shadow:0px 0px 10px $theme_color_2; }
textarea{ height:200px; }
.star{ color:#ff0000; }
.serviceBlock.allNone{ padding:0px; border:none; }
.map{ width:100%; display:inline-block; position: relative; }
.map iframe{ width:100%; }

/*------------------- heading css ----------------------*/
.blockHeading, .pageHeading{ width:100%; color:$theme_color_2; font-size:30px; padding:0px 0px 20px 0px; position: relative; }
.blockHeading:after, .pageHeading:after{ content:''; width:100px; height:4px; background:$theme_color_2; position: absolute; bottom:0; left:0; }
.pageHeading{ font-size:40px; font-weight:700; margin-bottom:40px; }

/* -------------- slick sliders next and prev arrow css ------------- */
.slick-dots li button, .slick-next, .slick-prev, .slick-next:before, .slick-prev:before{ color:$theme_color; font:bold 29px/1 FontAwesome; }
.slick-next, .slick-prev{ width:40px; height:40px; line-height:35px; border-color:$theme_color; border-style:solid; border-width:2px; text-align:center; z-index:2; overflow:hidden; }
.slick-prev.slick-disabled, .slick-next.slick-disabled{ opacity:.25; }
.slick-next:before{ display:inline-block; content: "\f105"; }
.slick-prev:before{ display:inline-block; content: "\f104"; }
.slick-next{ right:20px; }
.slick-prev{ left:20px; }

/* -------------- slick sliders dots css ------------- */
.slick-dots{
	position:absolute; bottom:20px; 
	li{
		width:15px; height:15px; border:$white solid 2px; border-radius:100%; -webkit-border-radius:100%; overflow:hidden;
		button{ 
			width:100%; height:100%; padding:0; font-size:0; color:transparent; background:$white;
			&:before{
				display:none;
			}
		}
		&.slick-active{
			button{
				background:$theme_color;
			}
		}
	}
}

/*--------------------------- content wrap css -------------------*/ 
.commntWrap{
  padding:25px; display:inline-block; background-color:rgba(0,0,0,0.03);
}
.commntWrap .usrPic{
  width:300px; height:200px; float:left; overflow:hidden;
}
.commntWrap .usrPic img{
  width:100%; height:100%; object-fit:cover;
}
.commntWrap .comntCntWrap{
  position:relative; overflow:hidden; padding:0px 15px;
}
.commntWrap .actionArea{
width:100%; display: inline-block; margin-top:0px; position: relative; /*border-top:rgba(0,0,0,0.1) solid 1px;*/
}
.commntWrap h3{
  display:block; font-size:25px; color:#3e3e3e; padding-bottom:15px; margin-bottom:10px; position:relative;
}
.commntWrap h3:after{
  content:''; width:100px; height:4px; background:$theme_color; position: absolute; bottom:0; left:0;
}
.commntWrap h3 a{
  color:$theme_color_2;
}
.commntWrap a:hover{
  text-decoration:none;
}
.commntWrap p{
  font-size:14px;
}
.commntWrap .commntTime{
  display:block; color:#757575; font-size:16px; font-style:italic; margin-bottom:10px;
}


.quote{
	position: relative; padding-left:50px !important;
}
.quote:after{
	content:"\f10d"; position:absolute; z-index:1; top:0; left:10px; font: normal normal normal 14px/1 FontAwesome; font-size:30px; color:rgba(0,0,0,0.2);
}

.innrpgBanner{
	width:100%; height:300px; float:left; background:$theme_color_2; position:relative; overflow:hidden;
}
.innrpgBanner img{
	width:100%; height:100%; object-fit:cover; opacity:0.4;
}
.innrpgBanner .contarea{
	width:100%; position:absolute; bottom:0; left:0; z-index:2; background:rgba(0,0,0,0.5); color:#fff; padding:20px 0px;
}
.innrpgBanner h3{
	font-size:36px; font-weight:900; padding:0px 0px 20px 0px; margin-bottom:15px; position: relative;
}
.innrpgBanner h3:after{
	content:''; width:100px; height:4px; background:$white; position: absolute; bottom:0; left:0;
}


.innerpageArea{
	width:100%; float:left; position: relative; padding:50px 0px; min-height:500px;
}
.innerpageArea p{
	margin-bottom:20px;
}
.imgWrap{
	width:400px; display:inline-block; position: relative;
}
.imgWrap img{
	width:100%; height:auto;
}
.imgWrap.left{
	float: left; margin:0px 20px 20px 0px;
}
.imgWrap.right{
	float:right; margin:0px 0px 20px 20px;
}

ul.hedingBullet{
	width:100%; display:inline-block;
}
ul.hedingBullet li{
	width:50%; float: left; padding:0px 20px 0px 0px;
}
ul.hedingBullet li label{
	width:100%; display:inline-block; color:$theme_color_2; font-size:20px; margin:0px 0px 5px 0px;
}
ul.hedingBullet li p{

}



.sidenavbar *{
	 transition:all ease 0.3s; -webkit-transition:all ease 0.3s;
}
.sidenavbar{
	width:100%; display:inline-block; position: relative;
}
.sidenavbar ul{
	width:100%; float: left; background:$theme_color;
}
.sidenavbar li{
	width:100%; float:left; position:relative;
}
.sidenavbar li a{
	width:100%; float:left; padding:10px 15px; border-bottom:rgba(255,255,255,0.5) solid 1px; color:$white;
}
.sidenavbar li:hover, .sidenavbar li.current{
	background:$theme_color_2; text-decoration:none;
}
.sidenavbar li:hover a, .sidenavbar li.current a{
	padding-left:25px;
}
.sidenavbar li.current:after{
	content:''; position: absolute; top:50%; left:10px; margin-top:-5px; width:0px; height:0px; border-style:solid; border-width:5px; border-color:transparent transparent transparent #fff;
}



.serviceSection{
	width:100%; display:inline-block; position: relative;
}
.serviceBlock{
	width:100%; display:inline-block; position: relative; border:rgba(0,0,0,0.05) solid 1px; padding:20px;
}
.serviceBlock h4{
	width:100%; display:inline-block; color:$theme_color_2; font-size:17px; font-weight:700; margin:0px 0px 10px 0px;
}