/* ------------------ fullscreen Banner css start -------------------- */
.fullwidthBnnrCntnr{ 
	width:100%; position:relative; overflow:hidden;
	
	.fullwidthSlider{

		.slick-slide{ 
			margin:0px; max-height:400px;
		}
		.slick-slider, .slick-list, .slick-track{
			height:100%;
		}

		.bannerContainer{
			max-width:88%; width:100%; display:table; position:absolute; text-align:center; top:0; right:0; bottom:0; left:0; margin:auto;

			> *{
				display:block; vertical-align:middle;
			}
		}
	}
}

/* ------------------ fullscreen Banner css ended -------------------- */