$theme_color:#7499d0;
$theme_color_2:#34436e;
$base_color:#4D4D4D;
$white:#fff;

$font_OS:'Open Sans', sans-serif;

$font_L:300;
$font_R:400;
$font_B:700;

$bdy_font:13px;
$mnu_font:14px;
$mnu_font_color:#fff;

$gap_0:0px;
$gap_5:5px;
$gap_10:10px;
$gap_15:15px;


$radius_NO:0;
$radius_SM:10px;
$radius_FULL:100%;


$phone-view-sm: "only screen and (max-width : 320px)";
$phone-view-md: "only screen and (max-width : 480px)";
$tab-view-sm: "only screen and (max-width : 580px)";
$tab-view-md: "only screen and (max-width : 640px)";
$ipad-view: "only screen and (max-width : 768px)";
$desktop-view-sm: "only screen and (max-width : 1024px)";
$desktop-view-md: "only screen and (max-width : 1170px)";
$desktop-view-lg: "only screen and (max-width : 1280px)";
$below-ipad-view: "only screen and (max-width : 767px)";
$below-desktop-view: "only screen and (max-width : 1023px)";
